*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; 
        -moz-box-sizing: border-box;
            box-sizing: border-box;
            /*prefixado para servir em todos os navegadores*/
}


/*conteiner:envolver todo nosso conteudo e definir a largura do site*/
.container{
    width: 100%; /*ta pegando a tela inteira*/
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
    
    
}

/*design responsivo*/
    @media (min-width: 1170px){
        .container{
            max-width: 1170px;
            padding: 0;
        }
        
    }    
/*linha*/

.row {
    margin-left: 0;
    margin-right: 0;  
    
}

/*pra evitar que o conteudo que ta dentro dela fique maior do que a altura dela*/
    .row:before
    .row:after {
        content: "";
        display: table;
        
    }
    .row:after {
        clear: both;
    }
/*colunas*/
.col {
    display: incline-block;
    /*para ter todas as caracteristicas de elemento em bloco, porem se comportar como um elemento inline*/
    vertical-align: top;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;/*para quando utilizar em celular/tablet */
    margin-right: -4px;/*o proprio incidebllock coloca*/
    
    
}

/*personalização*/
.cores {
    background: rgb(255, 255, 255);
    padding: 5px;
    text-align: start;
    margin: 2px 0;
    color: rgb(27, 26, 26)
    
}
.big {
    height: 50px;  
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #00000000;
    padding: 10px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .2);
    
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px initial rgba(0, 0, 0, 0.8);
    padding: 3rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .imagemsobrenos {
    
  }